<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>490969770677-5qfmumtdgoe51kghov3p1va7s4sk973j.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.490969770677-5qfmumtdgoe51kghov3p1va7s4sk973j</string>
	<key>API_KEY</key>
	<string>AIzaSyDAQYeWnAagTJAJogmwO2ADolCTQtAGeIM</string>
	<key>GCM_SENDER_ID</key>
	<string>490969770677</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>in.daaconline.doomshell</string>
	<key>PROJECT_ID</key>
	<string>daac-84dae</string>
	<key>STORAGE_BUCKET</key>
	<string>daac-84dae.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:490969770677:ios:37d232b2e5b76ba1abecfc</string>
	<key>DATABASE_URL</key>
	<string>https://daac-84dae.firebaseio.com</string>
</dict>
</plist>